{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--style-->
  <style>
  .card {

   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
               0 6px 20px 0 rgba(0,0,0,0.39);
   background: lightpink;
   margin-bottom : 5%;
   border-radius: 25px;
   padding : 2%;
   overflow: auto;
   resize: both;
   text-overflow: ellipsis;
  }
  .card:hover{
    background: lightblue;
  }

  .submit_form{

    text-align: center;
    padding: 3%;
    background: pink;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                0 6px 20px 0 rgba(0,0,0,0.36);
  }

  .field-margin{
      margin: 5px;
  }
  </style>

</head>

<body  class="container-fluid">

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <center class="row">
    <h1><i>TODO TEST</i></h1>
    <hr />
  </center>

  <div class="row">

    <div class="col-md-8">

      {% for i in list %}
      <div class="card">
        <center><b>{{i.title}}</b></center>
        <center><b>DUE Date: {{i.duedate}}</b></center>
        <hr/>
          <form action="{% url 'update' %}" method="POST">
              {% csrf_token %}
              <input id="id" name="id" value="{{ i.id }}" class="form-control field-margin" type="hidden">
              <input id="title" name="title" value="{{ i.title }}" class="form-control field-margin">
              <textarea id="details" name="details" class="form-control field-margin">
                  {{ i.details }}
              </textarea>
              <input id="priority" name="priority" class="form-control field-margin" value="{{ i.priority }}">
              <div class="form-control field-margin">
                  <input type="checkbox" id="completed" name="completed" class="field-margin" checked="{{ i.completed }}" value="{{ i.completed }}">
                  <label>Completed</label>
              </div>
              <select id="category" name="category" class="form-control field-margin">
                  {% for cat in category %}
                    <option value="{{ cat.id }}" {% if cat.id == i.category_id %} selected {% endif %}>{{ cat.title }}</option>
                  {% endfor %}
              </select>
            <br />
            <br />
              <button value="remove" type="submit"  class="btn btn-primary" style="float: right; margin: 2%"><span class="glyphicon glyphicon-pencil"></span> &nbsp; update</button>
          </form>
            <form action="/del/{{i.id}}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
              {% csrf_token %}
              <button value="remove" type="submit"  class="btn btn-primary" style="float: right; margin: 2%"><span class="glyphicon glyphicon-trash"></span> &nbsp; remove</button>
            </form>
      </div>
      {% endfor%}
    </div>
    <div class="col-md-4" >
        <div class="submit_form">
            <form  method="POST" action="{% url 'logout' %}">
                {% csrf_token %}

                <center>
                <strong>User Information</strong>
                <hr>
                <label>UserName : {{ session.username }}</label>
                <input type="submit" class="btn btn-default" value="Logout" />
                </center>
            </form>
        </div>
        <br>
        <div  class="submit_form">
          <form  method="POST">
            {% csrf_token %}
            {{forms|crispy}}
            <center>
            <input type="submit" class="btn btn-default" value="submit" />
          </center>
          </form>
        </div>
        <br>
        <div class="submit_form">
            <form  method="POST" action="{% url 'category' %}">
                {% csrf_token %}
                <center>
                    <label>Create New Category Title</label>
                    <input id="title" name="title" value="" class="form-control field-margin">
                    <input type="submit" class="btn btn-default" value="Create" />
                </center>
            </form>
        </div>
  </div>
</div>
</body>
<script>
    $('#completed').change(function(){
        cb = $(this);
        if(cb.prop('checked')){
            cb.val("True");
        }else{
            cb.val("False");
        }
    });
</script>
</html>
